body {
    font-family: 'Roboto Slab', serif;
}

.reservation {
    margin: 2px;
}

.reservation-row {
    margin: 20px 0px 20px 0px;
    background-color: rgba(172, 192, 192, 0.623);
    padding: 10px;
}

.reservations-text {
    color: #d80e0e;
}

.button-row {
    min-height: 60px;
    line-height: 60px;
}

.date-row {
    font-size: 1.5em;
}