{% extends "layout.html" %}

{% block body %}
  <h3>Varaukset</h3>
  {% for reservation in reservations %}
    <div>
      {{ reservation.date.strftime('%d.%m.') }} klo {{ reservation.hour }}-{{ reservation.hour + 1 }}, varaaja {{ reservation.household }}
    </div>
    {% if reservation.date in date %}

    <td>
      <a href="{{ url_for('reservations_edit', reservation_id=reservation.id) }}">
        <i class="fas fa-pencil-alt"></i> 
      </a> 
    </td> 
    <td>
      <form method="POST" action="{{ url_for('reservations_delete', reservation_id=reservation.id) }}">
        <input type="submit" value="Poista"></input> <i class="fa fa-trash"></i>
      </form>  
    </td> 
    {% endif %}
  {% endfor %}

  <div> {{ count }} varausta</div>

{% endblock %}