{% extends "layout.html" %}

{% block body %}
{% if error %}
<div>
    <b class="alert alert-danger">{{error}}</b>
</div>
{% endif %}

<form method="POST" action="{{ url_for('auth_login') }}">
  <div class="form-group">

    <label for="username">Käyttäjätunnus</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Kirjoita käyttäjätunnus">
  </div>
  <div>
    <label for="password">Salasana</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Kirjoita salasana">
  </div>
  <button type="submit" class="btn btn-primary">Kirjaudu</button>
</form>
{% endblock %}




