{% extends "layout.html" %} 

{% block body %}


{% if error %}
<div>
    <b class="alert alert-danger">{{error}}</b>
</div>
{% endif %}

<form method="POST" action="{{ url_for('auth_register') }}">
    <tr>
        <td>
            {{ form.household.label }}
        </td>
        <td>
            {{ form.household }}
        </td>
    </tr>
    <div class="form-group">
        <label for="username">Käyttäjätunnus</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Kirjoita käyttäjätunnus">
    </div>
    <div>
        <label for="password">Salasana</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Kirjoita salasana">
    </div>
    <div>
        <label for="confirmation">Salasana uudelleen</label>
        <input type="password" name="confirmation" class="form-control" id="confirmation" placeholder="Kirjoita salasana uudelleen">
    </div>
    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>

    {% endblock %}

